.myInput{
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid rgb(3, 189, 189) ;
    outline: none;
}
.myInput:active, .myInput:focus, .myInput:hover{
    outline: none;
    border-bottom: 2px solid rgb(2, 90, 90);
}